body {
	background-color: #ccccff;
}



.navbar-inverse .navbar-brand {
	font-size: 28px;
	
}

#image {
	position: center;
}
#text {
   text-align: center;
  color: black;
  font-size: 4em;
  font-weight: bold;
  
}



